<html lang='en'>
<head>
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TGFFZ4J');</script>
<!-- End Google Tag Manager -->
	
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
	<title>Durateus</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGFFZ4J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->	
<div>
    <div class='center'>
        <div class='title'>Sistema de  Classificação de Madeiras</div>
        <p>
	    Nesta fase o sistema<strong>Durateus</strong> tem como objetivo fazer a  Classificação de 27 Espécies de madeiras<strong>brasileiras</strong>!
        </p>
	    <br>
	    <p>
	   As classes são:
		    <ul>
			<li>Andiroba</li>
			<li>Angelim_Armargoso</li>
			<li>Casa</li>
			<li>Angelim Pedra</li>
			<li>Angelim Vermelho</li>
			 <li>Breu Vermelho</li>
			 <li>Catuaba</li>
			  <li>Cedrinho</li>
			  <li>Cedro</li>
			  <li>Classe_Desconhecida</li>
			  <li>Cuiarana</li>
			  <li>Cumaru Amarelo</li>
			  <li>Cupiuba</li>
			  <li>Curupixaa</li>
			  <li>Goiabao</li>
			  <li>Ipe Amarelo</li>
			  <li>Jacareuba</li>
			  <li>Jequitiba Rosa Tauarí</li>
			  <li>Louro Vermelho</li>
			  <li>Maçaranduba</li>
			  <li>Mandioqueira</li>
			  <li>Muiracatiara Rajada</li>
			  <li>Pau Marfim</li>
			  <li>Peroba Mico</li>
			  <li>Roxinho</li>
			  <li>Sucupira Parda</li>
			  <li>Tanibuca</li>
			  <li>Tatajuba</li>
			  <li>Tauari Vermelho</li>
		</ul>
	   
        </p>
	    
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Selecione uma Imagem</button>
            <div class='upload-label'>
                <label id='upload-label'>Nenhum arquivo selecionado</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analisar</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
